# Dependencies
node_modules
.pnpm-store

# Build
dist
.next
.turbo

# Environment
.env
.env
.env.local
.env.*.local
.env*

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs

# Test
coverage

# Haraka
infrastructure/haraka/queue
infrastructure/haraka/logs
infrastructure/haraka/dkim/*.pem
infrastructure/haraka/tls/
